- @title = 'About Me'

.row
  .large-8.large-push-4.white-bg.medium-11.medium-push-1.small-12
    = partial "head"
    = partial "knowledges"
    = partial "work"
    = partial "education"
    = partial "languages"
    = partial "project"
    = partial "extra"