.row
  .small-12
    %h3.title.margin-top-30
      = I18n.t(:titleWorks)
- I18n.t(:works).each do |work| 
  .row.padding-h-30.padding-top-30
    .small-12.columns.padding-left-40.padding-right-40
      .experience
        %h4
          #{work[:job]} -
          %span.company
            #{work[:company]}
        %h6
          #{work[:type]} #{work[:date]} #{work[:localization]}
        %div.margin-top-20
          #{work[:describe]}
        %div.margin-top-20
          - work[:tags].each do |tag|
            %span.label.label-primary
              #{tag}